.card-box {
    background-color: #FFFFFF;
    border: 1px solid  #FFFFFF;
    font-family: "Roboto";
    color: #707070;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 220px;
    height: 350px;
    margin-left: 30px;
    margin-right: 30px;

}

.card-box body {
    background-color: #FFFFFF;
    margin-top: 80px;
}

.box__logos {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-header  img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.card-header  h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.card-header  h4 {
    display: flex;
    margin-left: auto;
    margin-right: auto;    
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td:first-child {
    font-weight: bold;
    padding-left: 10px;
   
}

table tr td:last-child {
    text-align: end;
    padding-right: 10px;
}

table tr td {
    width: 50%;
    padding: 10px 0;
}

table tr:nth-child(odd) {
	background: #fcfafa;
} 
